anyio==4.12.1
apify_fingerprint_datapoints==0.11.0
browserforge==1.2.4
certifi==2026.2.25
cffi==2.0.0
click==8.3.1
cssselect==1.4.0
curl_cffi==0.14.0
greenlet==3.3.2
idna==3.11
lxml==6.0.2
msgspec==0.20.0
orjson==3.11.7
patchright==1.56.0
pillow==12.1.1
playwright==1.56.0
pycparser==3.0
pyee==13.0.1
scrapling==0.4.1
tld==0.13.2
typing_extensions==4.15.0
w3lib==2.4.0
